* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #2c2c2d, #3a4cec);
}

header {
  padding: 16px 0;
  background-color: rgb(82, 90, 98);
  color: #ecf0f1;
}

header nav li {
  display: inline;
  font-size: 20px;
  color: #ecf0f1;
}

header nav li a {
  color: rgb(242, 242, 242);
  margin-left: 10px;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .container {
  display: flex;
  align-items: center;
}

.videoone {
  flex: 1;
}

.textone {
  flex: 1;
  padding-left: 20px;
  color: rgb(247, 247, 247);
}

.videotwo {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.texttwo {
  flex: 1;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(247, 247, 247);
}

.social-links img {
  height: 25px;
}
section h2 {
  justify-content: center;
  padding: 20px 45px;
  display: flex;
  color: #fff;
  font-family: "Edu NSW ACT Foundation", cursive;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-left: 8px;
  padding: 8px;
}

h3 {
  margin: 10px 0px;
  padding-left: 35px;
  color: #fff;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.contact-methods {
  align-items: center;
  display: block;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.contact-methods li {
  color: #15de98;
}

form button {
  background-color: #15de98;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #1515de;
}

input:focus,
textarea:focus {
  outline-color: #15de98;
}

footer {
  background-color: #000000;
  color: #ecf0f1;
  padding: 16px 0;
}

p {
  font-family: "Edu NSW ACT Foundation", cursive;
}
